{{ define "scalar" -}}
export type {{ .Name }} = {{ resolveHostType . }};

{{ end }}

{{ define "enumeration" -}}
export const {{ .Name }} = {
{{- range .Variants }}
  {{ .Name }}: "{{ .SerializedValue }}",
{{- end }}
} as const;

export type {{ .Name }} = (typeof {{ .Name }})[keyof typeof {{ .Name }}];

{{ end }}

{{ define "composite" -}}
export type {{ .Name }} = {
{{- range .Fields }}
  {{ .JSONPropertyName }}: {{ template "typeRef" .Type }};
{{- end }}
};

{{ end }}

{{ define "method" -}}
export async function {{ toCase .Name "camel" }}({{ range .Arguments }}{{ template "parameter" . }}{{ end }}ctx?: RequestContext): {{ template "returns" . }} {
  const { baseUrl, fetch: fetchFn, init } = resolveContext(ctx);

  const headers = new Headers(init?.headers);
  const req: RequestInit = {
    ...init,
    method: "{{ .HTTPMethod }}",
    headers,
  };

  const url = new URL("{{ .Path }}", baseUrl);

{{- $argCount := len .Arguments }}
{{- if gt $argCount 0 }}

  const data = {
{{- range .Arguments }}
    {{ .JSONName }},
{{- end }}
  }

{{- if eq .Kind "rpc" }}

  headers.set("Content-Type", "application/json");
  req.body = JSON.stringify(data);
{{- end }}
{{- end }}

  const response = await fetchFn(url.toString(), req);

{{- if ne .ReturnType nil }}
  return await parseJson<{{ template "typeRef" .ReturnType }}>(response);
{{- else }}
  return ensureSuccess(response);
{{- end }}
}

{{ end }}

{{ define "parameter" }}{{ .JSONName }}: {{ template "typeRef" .Type }}, {{ end }}

{{ define "returns" }}Promise<{{ if ne .ReturnType nil }}{{ template "typeRef" .ReturnType }}{{ else }}void{{ end }}>{{ end }}

{{ define "typeRef" -}}
{{ $split := splitTypeRef . }}
{{- if eq $split.Type "named" -}}
    {{template "named" $split.Data}}
{{- else if eq $split.Type "optional" -}}
    {{template "optional" $split.Data}}
{{- else if eq $split.Type "array" -}}
    {{template "array" $split.Data}}
{{- end -}}
{{- end }}

{{ define "named" -}}
{{ .Name }}
{{- end }}

{{ define "optional" -}}
{{ template "typeRef" .InnerType }} | null
{{- end }}

{{ define "array" -}}
{{ template "typeRef" .ElementType }}[]
{{- end }}

{{ define "preamble" -}}
// autogenerated

export type RequestContext = Partial<Omit<RequestInit, "method" | "body">>  & {
  baseUrl?: string;
  fetch?: typeof fetch;
};

async function parseJson<T>(response: Response): Promise<T> {
  ensureSuccess(response);
  return response.json() as Promise<T>;
}

async function ensureSuccess(response: Response) {
  if (!response.ok) {
    const text = await response.text();
    throw new ApiError(response.status, text, response);
  }
}

function resolveContext(ctx?: RequestContext) {
  const { baseUrl, fetch: fetchFn, ...init } = ctx ?? {};
  return {
    baseUrl: baseUrl ?? "",
    fetch: fetchFn ?? fetch,
    init: init ?? {},
  };
}

class ApiError extends Error {
  constructor(
    public status: number,
    public body: string,
    public response: Response
  ) {
    super(`HTTP ${status}: ${body}`);
  }
}

function objectToQueryParams(obj: object) {
  const params = new URLSearchParams();

  for (const [key, value] of Object.entries(obj)) {
    if (value === undefined || value === null) continue;

    // Disallow nested objects (but allow arrays)
    if (
      typeof value === "object" &&
      !Array.isArray(value)
    ) {
      throw new Error(
        `Nested objects are not supported for query params (key: "${key}")`
      );
    }

    if (Array.isArray(value)) {
      value.forEach(v => params.append(key, v));
    } else {
      params.append(key, value);
    }
  }

  return params.toString();
}
{{ end }}

{{ define "ts-client" }}
{{- template "preamble" -}}
{{- range .TypeDefs -}}
{{- if eq .Kind "scalar" -}}
{{- template "scalar" . -}}
{{- end -}}
{{- if eq .Kind "enum" -}}
{{- template "enumeration" . -}}
{{- end -}}
{{- if eq .Kind "object" -}}
{{- template "composite" . -}}
{{- end -}}
{{- end -}}
{{- range .Methods -}}
{{ template "method" . }}
{{- end -}}
{{- end -}}