export const {{ item.name | to_case(case="upper_camel") }} = {
{%- for variant in item.variants %}
  {{ variant.name | to_case(case="upper_camel") }}: "{{ variant.serialized_value }}",
{%- endfor %}
} as const;

export type {{ item.name | to_case(case="upper_camel") }} = typeof {{ item.name }}[keyof typeof {{ item.name }}];

