export async function {{ method.name }}(
{%- for param in method.parameters -%}
{{ param.name }}: {{ param.ty }},
{%- endfor -%}
ctx?: RequestContext,
): Promise<{% if method.returns is none %}void{% else%}{{ method.returns }}{%endif%}> {
  const { baseUrl, fetch: fetchFn, init } = resolveContext(ctx);

  const headers = new Headers(init?.headers);
  const req: RequestInit = {
    ...init,
    method: "POST",
    headers,
  };
  
{%- if method.parameters | length > 0 %}
  const data = {
{%- for param in method.parameters %}
    {{ param.name }},
{%- endfor %}
  };

  headers.set("Content-Type", "application/json");
  req.body = JSON.stringify(data);
{%- endif %}

  const response = await fetchFn(`${baseUrl}/{{ method.path }}`, req);

{%- if method.returns is not none %}
  return await parseJson<{{ method.returns }}>(response);
{%- else %}
  return ensureSuccess(response);
{%- endif %}
}
