export async function {{ item.name }}(
{%- for param in item.parameters -%}
{{ param.name }}: {{ param.ty }},
{%- endfor -%}
ctx?: RequestContext,
): Promise<{% if item.returns is none %}void{% else%}{{ item.returns | resolve_type_ref }}{%endif%}> {
  const { baseUrl, fetch: fetchFn, init } = resolveContext(ctx);

  const headers = new Headers(init?.headers);
  const req: RequestInit = {
    ...init,
    method: "POST",
    headers,
  };
  
{%- if item.parameters | length > 0 %}
  const data = {
{%- for param in item.parameters %}
    {{ param.name }},
{%- endfor %}
  };

  headers.set("Content-Type", "application/json");
  req.body = JSON.stringify(data);
{%- endif %}

  const response = await fetchFn(`${baseUrl}/{{ item.path }}`, req);

{%- if item.returns is not none %}
  return await parseJson<{{ item.returns | resolve_type_ref }}>(response);
{%- else %}
  return ensureSuccess(response);
{%- endif %}
}

