type {{ item.name | to_case(case="upper_camel") }} = {{ item.serialized_type }} & { __brand: "{{ item.name | to_case(case="snake") }}"; };
export const as{{ item.name | to_case(case="upper_camel") }} = (v: {{ item.serialized_type }}) => v as {{ item.name | to_case(case="upper_camel") }};

