{%- if method.parameters | length > 0 %}
  const data = {
{%- for param in method.parameters %}
    {{ param.name }},
{%- endfor %}
  };

  headers.set("Content-Type", "application/json");
  req.body = JSON.stringify(data);
{%- endif %}