{{define "model" -}}
type {{ .Name }} = { {{range $key, $value := .Fields}}
   {{$key}}{{ if $value.Optional }}?{{end}}: {{$value.Type.Name}};{{end}}
};
{{- end}}

{{- define "rpc-interface" -}}
{{.Name}}({{with .RequestType}}request: {{.Name}}{{end}}): Promise<{{if .ResponseType}}{{.ResponseType.Name}}{{else}}void{{end}}>
{{- end}}

{{- range .Types}}{{if eq .Variant 1}}{{template "model" .}}

{{end}}{{end}}interface IServiceClient { {{range .Rpc}}
    {{template "rpc-interface" .}}{{end}}
}
