namespace {{ namespace }};

public interface I{{item.name}}Handler
{
    Task{% if item.return_ty is not none %}<{{item.return_ty}}>{% endif %} HandleAsync(
{%- for _, param in item.parameters %}
        {{ param.ty | resolve_type_ref }} {{ param.name | to_case(case="camel") }},
{%- endfor %}
        CancellationToken cancellationToken = default);
}