namespace {{ namespace }};

public record {{ item.name }}
{
{%- for _, property in item.fields %}
    [JsonPropertyName("{{property.serialized_name}}")]
    public{% if property.required %} required{% endif %} {{ property.ty | resolve_type_ref }} {{ property.name | to_case(case="upper_camel") }} { get; init; }
{%- endfor %}
}
