{{ define "model" -}}
{{ lookup "usings" }}
namespace {{ lookup "namespace" }};

public record {{.Name}}
{
{{- range .Fields }}
    [JsonPropertyName("{{ .JSONPropertyName }}")]
    public {{if isOptional .Type}}{{else}}required {{end}}{{ template "typeRef" .Type }} {{ toCase .Name "upperCamel" }} { get; init; }
{{- end }}
}
{{ end }}



{{ define "enum" -}}
using System.Text.Json.Serialization;

namespace {{ lookup "namespace" }};

public enum {{ toCase .Name "upperCamel" }}
{
{{- range .Variants }}
    [JsonStringEnumMemberName("{{ .SerializedValue }}")]
    {{ toCase .Name "upperCamel" }},
{{- end }}
}
{{ end }}



{{ define "interface" -}}
{{- lookup "usings" }}

namespace {{ lookup "namespace" }};

public interface I{{ toCase .Name "upperCamel" }}Handler
{
    Task{{ template "interface_return" . }} HandleAsync({{ template "interface_parameters" .Arguments }}CancellationToken cancellationToken = default);
}
{{ end }}



{{ define "interface_return" -}}
{{- if ne .ReturnType nil -}}
<{{ template "typeRef" .ReturnType }}>
{{- else -}}

{{- end -}}
{{- end }}



{{ define "interface_parameters" }}
{{- range . }}{{ template "typeRef" .Type }} {{ toCase .Name "camel" }}, {{ end -}}
{{ end }}



{{ define "methodParameter" -}}
{{ lookup "usings" }}
namespace {{ lookup "namespace" }};

public record {{.Name}}Parameters
{
{{- range .Arguments }}
    [JsonPropertyName("{{ .JSONName }}")]
    public {{if isOptional .Type}}{{else}}required {{end}}{{ template "typeRef" .Type }} {{ toCase .Name "upperCamel" }} { get; init; }
{{- end }}
}
{{ end }}



{{ define "minimal_api" }}
{{- lookup "usings" }}

namespace {{ lookup "namespace" }};

public static class ProtocolEndpoints
{
    public static void MapProtocol(this WebApplication app)
    {
{{- range .Methods }}
{{- if eq .Kind "query" }}
        app.MapGet("{{ .Path }}", Handle{{ toCase .Name "upperCamel" }})
{{- end }}
{{- if eq .Kind "mutation" }}
        app.MapPost("{{ .Path }}", Handle{{ toCase .Name "upperCamel" }})
{{- end }}
{{- if hasDecorator . "authorize" }}
            .RequireAuthorization()
{{- end }};
{{- end }}
    }

{{ range .Methods }}
    private static async Task<IResult> Handle{{ toCase .Name "upperCamel" }}(
{{- $length := len .Arguments -}}
{{- if gt $length 0 }}
{{- if eq .Kind "mutation" }}
        [FromBody] {{.Name}}Parameters parameters,
{{- else if eq .Kind "query" }}
{{- range .Arguments }}
        [FromQuery(Name = "{{.JSONName}}")] {{ template "typeRef" .Type }} {{.Name}},
{{- end }}
{{- end }}
{{- end }}
        [FromServices] I{{.Name}}Handler handler,
        CancellationToken cancellationToken)
    {
{{- if ne .ReturnType nil }}
        var result = await handler.HandleAsync({{ template "args_into_interface" . }}cancellationToken);
        return Results.Ok(result);
{{- else }}
        await handler.HandleAsync({{ template "args_into_interface" . }}cancellationToken);
        return Results.NoContent();
{{- end }}
    }
{{ end }}
}
{{ end }}



{{ define "args_into_interface" -}}
{{ if eq .Kind "query" }}{{ range .Arguments }}{{ toCase .Name "camel" }}, {{ end }}{{ else }}{{ range .Arguments }}parameters.{{ toCase .Name "upperCamel" }}, {{ end }}{{ end }}
{{- end }}



{{ define "typeRef" -}}
{{ $split := splitTypeRef . }}
{{- if eq $split.Type "named" -}}
    {{template "named" $split.Data}}
{{- else if eq $split.Type "optional" -}}
    {{template "optional" $split.Data}}
{{- else if eq $split.Type "array" -}}
    {{template "array" $split.Data}}
{{- end -}}
{{- end }}



{{ define "named" -}}
{{ resolveHostTypeRef . }}
{{- end }}



{{ define "optional" -}}
{{ template "typeRef" .InnerType }}?
{{- end }}



{{ define "array" -}}
{{ template "typeRef" .ElementType }}[]
{{- end }}
